body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  display: flex;
}